$primary-text-color: #ffffff;
$accent-color: #fb68a8;

$body-color: #0f0c14;
$background-color-dkr: #16121e;

$fs-h1: 55px;
$fs-h2: 35px;
$fs-text-normal: 15px;
$fs-text-small: 14px;
$fs-text-mini: 13px;

$screen-sm: 414px;
$screen-md: 880px;
$screen-lg: 1050px;
