/* body {
  background-color: #0f0c14;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
} */
/* .background {
  background-color: #16121e;
} */
/* .wrapper {
  width: 100%;
  padding-top: 100px;
  overflow-x: hidden;
} */
.blurBackground {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.menu_container {
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-weight: 700;
  width: 100%;
  height: 70px;
  transition: 0.3s;
}
.menu_logo {
  width: 35%;
  min-width: 90px;
  max-width: 150px;
}

.menu_menuList {
  display: none;
  /* display: flex; */
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
}
.menu_item :hover,
:focus {
  cursor: pointer;
  color: #fc759b;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  transition: 0.5s;
}
.menu_item:not(:last-child) {
  margin-right: 10px;
}
.menu_item_text {
  font-size: 15px;
  line-height: 2;
}

.burger {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  padding: 0;
}

.main_container {
  z-index: 0;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  transition: 2s;
  border-radius: 50px;
  position: relative;
}
.main_head_container {
  padding-top: 150px;
  padding-bottom: 150px;
}
.main_head_title {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  font-size: 35px;
  color: #fff;
}
.menu_phone_number {
  display: flex;
  overflow: auto;
  background-color: #fb68a8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
}
.menu_phone_number p {
  padding: 0;
  margin: 0 0 0 10px;
  line-height: 1;
  font-size: 13px;
  font-weight: 700;
}
.container {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.defaultShadow {
  box-shadow: 0 21px 114px -14px rgba(251, 104, 168, 0.29);
  border-radius: 150px;
  overflow: hidden;
  margin: 15px;
  width: 70px;
  height: 70px;
}
.containerWrap {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerWrap_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.defaultImage {
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
}
.contacts_us {
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 30px 10%;
  border-radius: 20px;
  background: #16121e;
  background: linear-gradient(135deg, #16121e, #774181 70%, #e8dff8 0, #e4e4fb);
}
