<div class="wrapper">
  <div class="container block_container">
    <h2 class="container_title">Notre méthode, nos valeurs</h2>
    <p class="container_text">
      Votre projet compte beaucoup pour vous, nous nous investissons
      personnellement pour en faire une réalité. De projet en projet, nous avons
      développés notre savoir-faire pour vous assurer le design le plus
      ergonomique, les technologies les plus adaptées et le code le plus
      robuste.
    </p>
    <div class="background">
      <h3 class="background_number">01</h3>
      <div>
        <h4 class="background_title">Analyse</h4>
        <p class="background_text">
          Nous vous proposons une étude de votre marché, le meilleur business
          modèle pour votre projet et vous accompagnons intégralement dans les
          choix techniques.
        </p>
      </div>
    </div>
    <div class="background">
      <h3 class="background_number">02</h3>
      <div>
        <h4 class="background_title">Design</h4>
        <p class="background_text">
          Notre équipe de design en veille permanente se charge de concevoir
          pour vous une interface claire et intuitive qui saura définir votre
          marque pour les années à venir.
        </p>
      </div>
    </div>
    <div class="background">
      <h3 class="background_number">03</h3>
      <div>
        <h4 class="background_title">Intégration</h4>
        <p class="background_text">
          L'intégration consiste à transformer un design en une application
          statique respectant à la perfection la vision du designer. Cette
          première prise en main vous permet de visualiser réellement votre
          projet.
        </p>
      </div>
    </div>
    <div class="background">
      <h3 class="background_number">04</h3>
      <div>
        <h4 class="background_title">Développement continu</h4>
        <p class="background_text">
          Vous avez un accès permanent aux derniers avancements sur votre projet
          depuis votre téléphone, vos retours sont pris en compte et traités
          dans la journée.
        </p>
      </div>
    </div>
    <div class="background">
      <h3 class="background_number">05</h3>
      <div>
        <h4 class="background_title">Garantie sans défauts</h4>
        <p class="background_text">
          Votre projet est garanti contre tout défaut ou panne pendant un an,
          nous intervenons immédiatement sans frais supplémentaires.
        </p>
      </div>
    </div>
    <div class="background">
      <h3 class="background_number">06</h3>
      <div>
        <h4 class="background_title">Propriété intellectuelle</h4>
        <p class="background_text">
          Votre projet vous appartient, nous partageons avec vous l'intégralité
          du code source et des fichiers ayant servi à la conception sans frais
          supplémentaires.
        </p>
      </div>
    </div>
  </div>
  <div class="main_container">
    <div class="container">
      <h2 class="container_title">
        À chaque problème,<br />une solution ergonomique
      </h2>
      <p class="container_text">
        Nous ne nous contentons jamais de notre première idée, nous continous à
        travailler jusqu'à trouver la solution la plus simple, la plus élégante,
        la mieux adaptée et la plus moderne. Nous cherchons sincèrement
        l'expérience la plus optimale pour vos utilisateurs.
      </p>
    </div>
  </div>
</div>
