<footer>
  <div class="container">
    <h2 class="container_title">Questions fréquentes</h2>
    <ul class="questions_list">
      <li class="questions_item">
        <p>Quelle est la durée de garantie de vos prestations?</p>
        <p>
          Toutes nos prestations sont garanties pendant huit mois. Nous
          interviendrons sous 24h pour corriger tout dysfonctionnement sur votre
          projet.
        </p>
      </li>
      <li class="questions_item">
        <p>Quels sont les délais de livraison?</p>
        <p>
          Chaque projet est différent, évidemment, mais de manière générale nous
          livrons une application simple en deux semaines. Comptez jusqu'à deux
          mois et demi pour une application plus complexe.
        </p>
      </li>
      <li class="questions_item">
        <p>
          Le design ne me plaît pas, est-ce que je peux demander à le modifier?
        </p>
        <p>
          Bien sûr, nous ne facturons pas les modifications mineures du design
          (même après le début du développement).
        </p>
      </li>
      <li class="questions_item">
        <p>Que faire si je ne suis pas satisfait du résultat final?</p>
        <p>
          Il est important pour nous que vous soyez satisfait, vous pouvez
          contacter votre chef de projet pour demander des modifications à tout
          moment.
        </p>
      </li class="questions_item">
      <!-- <li class="questions_item">
        <p>Quelles technologies utilisez-vous?</p>
        <p>
          Nous travaillons principalement avec des frameworks JavaScript
          (ReactJS, React Native, NodeJS) pour vous assurez la meilleure
          qualité, vitesse d'exécution et compatibilité possible au meilleur
          prix. Nous utilisons Firebase pour l'hébergement des données, cette
          solution permet une synchronisation en temps réel sur tout les
          appareils qui sont connectés à votre plateforme.
        </p>
      </li>
      <li class="questions_item">
        <p>Est-ce que mon application sera 'native'?</p>
        <p>
          Oui, nous ne pensons pas que les applications dites 'hybrides' soient
          d'une qualité suffisante pour offrir la meilleure expérience posssible
          à vos utilisateurs. C'est pourquoi nous utilisons un rendu 'natif' qui
          offre la même qualité qu'Instagram, Pinterest, Facebook, ...
        </p>
      </li>
      <li class="questions_item">
        <p>
          Est-ce que mon projet pourra accueillir des milliers/millions
          d'utilisateurs?
        </p>
        <p>
          Oui, nous pensons la structure de votre application dès le début pour
          qu'elle puisse s'adapter à une forte croissance sans perte de
          performances.
        </p>
      </li>
      <li class="questions_item">
        <p>Comment est-ce que je pourrai gérer mon projet?</p>
        <p>
          Nous livrons nos clients avec une solution clé en main qui leur permet
          de consulter les statistiques principales de leur projet (revenus,
          utilisateus actifs, fidélisation, géolocalisation des utilisateurs,
          ...), d'envoyer des notifications personnalisées, de modérer les
          comportements inadaptés mais aussi de gérer leurs campagnes marketing.
        </p>
      </li>
      <li class="questions_item">
        <p>Combien coûte l'hébergement?</p>
        <p>
          Pour démarrer, comptez vingt cinq euros mensuels pour plusieurs
          dizaines de milliers d'utilisateurs. Ensuite, vous payez à
          l'utilisation, le prix est toujours insignifiant par rapport aux
          revenus générés.
        </p>
      </li>
      <li class="questions_item">
        <p>Combien coûtent les modifications?</p>
        <p>
          Nous ne facturons pas les changements mineurs (moins de deux heures de
          travail). Pour les nouvelles fonctionnalités plus complexes, le prix
          dépend du nombre de jours de travail. Vous pouvez demander un devis
          gratuit à votre chef de projet.
        </p>
      </li>
      <li class="questions_item">
        <p>
          Que faites-vous pour assurer la sécurité et la confidentialité de mon
          projet?
        </p>
        <p>
          Tout d'abord, votre code source est stocké sur notre outil interne
          crypté. Les équipes ont accès au code uniquement pendant la durée de
          leur mission. Les salariés qui ne travaillent pas sur votre projet
          n'ont même pas connaissance de son existence.
        </p>
      </li>
      <li class="questions_item">
        <p>Est-ce que mon application risque de se faire pirater?</p>
        <p>
          Le risque zéro n'existe pas. Cependant, tout est mis en place pour
          éviter toute tentative de piratage: le code est passé au peigne fin
          avant chaque mise en production pour s'assurer de l'absence de failles
          et des règles de sécurité analysent chaque accès à votre base de
          donnée pour évaluer les risques. Pour nos clients dans la finance (et
          les cryptomonnaies) nous mettons en place l'identification
          biométrique, l'authentification à deux facteurs et l'utilisation d'un
          PIN à quatre caractères avant chaque transaction.
        </p>
      </li>
      <li class="questions_item">
        <p>Combien d'années d'expérience ont vos développeurs?</p>
        <p>
          Nos développeurs ont tous au minimum 10 ans d'expérience en
          développement.
        </p>
      </li>
      <li class="questions_item">
        <p>Est-ce que vous allez sous-traiter mon projet?</p>
        <p>
          Non, votre projet est réalisé intégralement en interne à Bordeaux par
          nos équipes. Il n'y a aucune sous-traitance.
        </p>
      </li>
      <li class="questions_item">
        <p>Est-ce que je suis 100% propriétaire du code source?</p>
        <p>
          Oui, le contrat signé en début de mission stipule noir sur blanc que
          nous vous cédons l'intégralité de la propriété intellectuelle sur le
          projet.
        </p>
      </li>
      <li class="questions_item">
        <p>
          Est-ce que vous proposez une assistance à la création d'entreprise?
        </p>
        <p>
          Oui, votre chef de projet dédié répondra gratuitement à toutes vos
          questions concernant le choix des statuts, les meilleurs outils
          (banque, comptabilité, ...) et les aides de l'état qui vous sont
          disponibles.
        </p>
      </li> -->
    </ul>
    <button class="question_button"><p class="question_button_text">Afficher moins de questions</p></button>
  </div>
  <div class="container">
    <div class="partners">
      <h2 class="partners_title">Ils nous font confiance</h2>
      <div class="partners_container">
        <ul class="partners_list">
          <li class="partners_item">
            <div>
              <img
              class="partners_item_block_image"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Vianney Loridan</h4>
            <p>BetM</p>
            <p>
              Agence de confiance avec une équipe professionnelle, à l'écoute des
              besoins et en mesure de nous accompagner sur l'évolution de notre
              produit.
            </p>
            </div>
          </li>
          <li class="partners_item" >
            <div class="partners_item_block"> 
              <img
              class="partners_item_block_image"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Ferdi Dogan</h4>
            <p>Mooderz</p>
            <p>
              Les compétences nécessaires en terme de design et de développement
              pour réaliser notre vision. Très réactifs et produit final de grande
              qualité.
            </p>

            </div>
          </li>
          <li class="partners_item">
            <div>
              <img
              class="partners_item_block_image"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Patrick Tassa</h4>
            <p>CAFPI</p>
            <p>
              Respect parfait des délais, finitions de qualité et réactivité.
              L'agence a été de plus en mesure de former nos équipes au
              développement mobile.
            </p>

            </div>
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Thierry Malka</h4>
            <p>BeCheck</p>
            <p>
              Agence Minuit a réalisé l’application avec un grand
              professionnalisme et un très bon niveau technique. Je recommande
              cette agence pour tenir les délais.
            </p>
            </div>
            
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Maxime Batistello</h4>
            <p>Ping Progress</p>
            <p>
              L’Agence Minuit a su comprendre mon idée et réalisant mon
              application mobile à la perfection. Équipe à l’écoute et réactive!
            </p>
            </div>
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Patrick Tassa</h4>
            <p>CAFPI</p>
            <p>
              Respect parfait des délais, finitions de qualité et réactivité.
              L'agence a été de plus en mesure de former nos équipes au
              développement mobile.
            </p>
            </div>
          </li>
          <li class="partners_item">
            <div class="partners_item_block"> 
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Vianney Loridan</h4>
            <p>BetM</p>
            <p>
              Agence de confiance avec une équipe professionnelle, à l'écoute des
              besoins et en mesure de nous accompagner sur l'évolution de notre
              produit.
            </p>
            </div>
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Ferdi Dogan</h4>
            <p>Mooderz</p>
            <p>
              Les compétences nécessaires en terme de design et de développement
              pour réaliser notre vision. Très réactifs et produit final de grande
              qualité.
            </p>
            </div>
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Patrick Tassa</h4>
            <p>CAFPI</p>
            <p>
              Respect parfait des délais, finitions de qualité et réactivité.
              L'agence a été de plus en mesure de former nos équipes au
              développement mobile.
            </p>
            </div>
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Thierry Malka</h4>
            <p>BeCheck</p>
            <p>
              Agence Minuit a réalisé l’application avec un grand
              professionnalisme et un très bon niveau technique. Je recommande
              cette agence pour tenir les délais.
            </p>
            </div> 
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Maxime Batistello</h4>
            <p>Ping Progress</p>
            <p>
              L’Agence Minuit a su comprendre mon idée et réalisant mon
              application mobile à la perfection. Équipe à l’écoute et réactive!
            </p>
            </div>
  
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Patrick Tassa</h4>
            <p>CAFPI</p>
            <p>
              Respect parfait des délais, finitions de qualité et réactivité.
              L'agence a été de plus en mesure de former nos équipes au
              développement mobile.
            </p>
            </div>
            
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Vianney Loridan</h4>
            <p>BetM</p>
            <p>
              Agence de confiance avec une équipe professionnelle, à l'écoute des
              besoins et en mesure de nous accompagner sur l'évolution de notre
              produit.
            </p>
            </div>
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Ferdi Dogan</h4>
            <p>Mooderz</p>
            <p>
              Les compétences nécessaires en terme de design et de développement
              pour réaliser notre vision. Très réactifs et produit final de grande
              qualité.
            </p>
            </div>
           
          </li>
          <li class="partners_item">
            <div  class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Patrick Tassa</h4>
            <p>CAFPI</p>
            <p>
              Respect parfait des délais, finitions de qualité et réactivité.
              L'agence a été de plus en mesure de former nos équipes au
              développement mobile.
            </p>
            </div>
            
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Ferdi Dogan</h4>
            <p>Mooderz</p>
            <p>
              Les compétences nécessaires en terme de design et de développement
              pour réaliser notre vision. Très réactifs et produit final de grande
              qualité.
            </p>
            </div>
            
          </li>
          <li class="partners_item">
            <div class="partners_item_block">
              <img
              class="defaultImage"
              src="images/icons/mooderz.jpg"
              alt=""
              width="60px"
              height="60px"
            />
            <h4>Vianney Loridan</h4>
            <p>BetM</p>
            <p>
              Agence de confiance avec une équipe professionnelle, à l'écoute des
              besoins et en mesure de nous accompagner sur l'évolution de notre
              produit.
            </p>
            </div>
            
          </li>
        </ul>
      </div>
      <div >
        <ul class="clients_container">
          <li class="clients_container_item">
            <a href="https://www.betm.co/">
              <div>
                <img src="images/logo/betM.png" alt="" width="42px" height="30px" />
              </div>
            </a>
          </li>
          <li class="clients_container_item">
            <a href="https://www.cafpi.fr/">
              <div>
                <img
                  src="images/logo/cafpi.png"
                  alt=""
                  width="124px"
                  height="21.6px"
                />
              </div>
            </a>
          </li>
          <li class="clients_container_item">
            <a href="https://www.springbox.ai/">
              <div>
                <img
                  src="images/logo/springbox.png"
                  alt=""
                  width="66px"
                  height="30px"
                />
              </div>
            </a>
          </li>
          <li class="clients_container_item">
            <a href="https://www.euromaster.fr/particulier">
              <div>
                <img
                  src="images/logo/euromaster.png"
                  alt=""
                  width="150px"
                  height="20.15"
                />
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div> 
    <div class="contacts_us">
      <h3 class="contacts_us_text">Vous avez un projet?</h3>
      <button class="button_footer">
        <p>commencer</p>
      </button>
    </div>
    <div>
      <ul class="footer_menu">
        <li class="footr_menu_item"><p class="footer_menu_item_text">Accueil</p></li>
        <li class="footr_menu_item"><p class="footer_menu_item_text">Start</p></li>
        <li class="footr_menu_item"><p class="footer_menu_item_text">Blog</p></li>
        <li class="footr_menu_item"><p class="footer_menu_item_text">Contact</p></li>
      </ul>
    </div>
    <div class="footer_footerlist">
      <p class="footer_footerlist_item">Minuit.agency - All Rights Reserved 2020</p>
      <p class="footer_footerlist_item">Mentions légales</p>
    </div>
  </div>
</footer>
