<div class="blurBackground menu_container">
  <div class="menu_content">
    <div class="menu_content_title"><p>minuit.agency</p></div>
    <ul class="menu" data-menu>
      <li class="menu_item"><p class="menu_item_text">Accueil</p></li>
      <li class="menu_item"><p class="menu_item_text">Start</p></li>
      <li class="menu_item"><p class="menu_item_text">Blog</p></li>
      <li class="menu_item"><p class="menu_item_text">Contact</p></li>
    </ul>
    <div class="containerRow">
      <div class="menu_phone_number">
        <p class="menu_phone_number_text">05 31 60 09 91</p>
      </div>
      <!-- <button class="burger" type="button" style="color: green" data-menu-open>
        X
      </button>
      <button class="burger" type="button" style="color: green" data-menu-close>
        N
      </button> -->
    </div>
  </div>
</div>
