<div class="wrapper">
  <div class="blurBackground menu_container">
    <div class="menu_content">
      <div class="menu_content_title"><p>minuit.agency</p></div>
      <div class="containerRow">
        <div class="menu_phone_number">
          <p class="menu_phone_number_text">05 31 60 09 91</p>
        </div>
        <button class="burger" type="button" data-menu-open data-menu-close>
          <img
            src="./images/icons/burger.png"
            alt="menu"
            width="20px"
            height="20px"
          />
        </button>
      </div>
    </div>
    <div class="menu-wrap blurBackground" data-menu>
      <ul class="menu">
        <li class="menu_item"><p class="menu_item_text">Accueil</p></li>
        <li class="menu_item"><p class="menu_item_text">Start</p></li>
        <li class="menu_item"><p class="menu_item_text">Blog</p></li>
        <li class="menu_item"><p class="menu_item_text">Contact</p></li>
      </ul>
    </div>
  </div>
</div>
