<div class="main_container">
  <div class="main_container">
    <div class="container">
      <h1 class="container_title main_title">
        Nous concevons et développons votre startup
      </h1>
      <button class="button_pink">
        <p class="container_text">commencer</p>
      </button>
    </div>
  </div>
  <div class="main_container">
    <div class="container">
      <ul class="container_list">
        <li class="container_item">
          <div></div>
          <h4 class="container_item_title">Design</h4>
          <p class="container_item_text">
            Vous êtes un perfectionniste dans l'âme et désirez ce qu'il y a de
            meilleur et de plus beau pour votre projet ? Nous aussi.
          </p>
        </li>
        <li class="container_item">
          <div></div>
          <h4 class="container_item_title">iOS/Android</h4>
          <p class="container_item_text">
            Un code source intégralement développé en France par des ingénieurs
            en quête permanente de performances optimales.
          </p>
        </li>
        <li class="container_item">
          <div></div>
          <h4 class="container_item_title">StratégieStratégie</h4>
          <p class="container_item_text">
            D'expérience, nous savons ce qui fonctionne et comment sublimer
            votre concept, nous dépassons nos limites pour faire exploser votre
            croissance.
          </p>
        </li>
        <li class="container_item">
          <div></div>
          <h4 class="container_item_title">Maintenance</h4>
          <p class="container_item_text">
            Concentrez-vous sur le développement de votre activité, nous nous
            occupons de faire en sorte que tout fonctionne à merveille pour que
            vous ayez l'esprit tranquille.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <ul class="containerWrap_list">
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt=""
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
      <li class="containerWrap_item">
        <img
          class="defaultShadow"
          src="images/icons/icons8-info-64.png"
          alt="default img"
        />
      </li>
    </ul>
  </div>
</div>
