.menu-wrap {
  width: 100%;
  @media screen and (max-width: 880px) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
  }
}

.menu-wrap.is-open {
  @media screen and (max-width: 880px) {
    position: fixed;
    overflow: hidden;
    z-index: 300 !important;
    opacity: 1;
    pointer-events: auto;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }
  .blurBackground {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
.containerCenter {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
